<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon"
      href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><text y="50%" x="50%" dominant-baseline="middle" text-anchor="middle" font-size="52">🦉</text></svg>'>
  <title>Gaming with Amy</title>
</head>

<body>
  <div class="main-container">
    <!-- header goes here -->
    
    <div class="section-container">
      <!-- my cozy lil app uwu -->
      <main class="main-body">

      </main>
      <aside class="junior-body">

      </aside>
    </div>
    <!-- footer goes here -->
  </div>
</body>
